<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Compiler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Compiler.Settings>
            <setting name="OutputLanguage" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="PathToOutputTranslator" serializeAs="String">
                <value>C:\Users\XD\Documents\Visual Studio 2010\Projects\Compiler\Compiler\bin\Debug</value>
            </setting>
            <setting name="ArgumentsOutputTranslator" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
        </Compiler.Settings>
    </userSettings>
</configuration>